<!-- extends 'ui/templates/layout.html' -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Python FastAPI To Do with Jinja2 Template</title>
</head>
{% block content %}

<div style="margin-top: 200px;" class="ui container">

    <h1 class="text-center my-3 pb-3">Python FastAPI To Do with Jinja2 Template</h1>
<!--/api_v1/todos/-->
    <form class="row" action="{{ url_for('create_todo_page') }}" method="post" enctype="multipart/form-data">
        <h3 class="test_css">Задачи на Python</h3>
        <div class="field">
            <label>Новая задача</label>
            <label>
                <input type="text" name="title" placeholder="Введите название задачи">
            </label><br>
        </div>
        <button type="submit" class="btn btn-primary" >Добавить</button>
    </form>


    {% for todo in todo_list %}
    <div class="ui segment">
        <p class="ui big header">№{{ todo.id }} {{ todo.title }}</p>

        {% if todo.is_complete == False %}
        <span class="ui red label">Не завершено</span>
        <a class="ui blue button" href="{{ url_for('update', todo_id=todo.id) }}">Закрыть</a>
        <a class="ui blue button" href="{{ url_for('rename', todo_id=todo.id) }}">Переименовать</a>
        {% else %}
        <span class="ui violet label">Завершено</span>
        <a class="ui green button" href="{{ url_for('update', todo_id=todo.id) }}">Открыть</a>
        <a class="ui blue button" href="{{ url_for('delete', todo_id=todo.id) }}">Удалить</a>
        <a class="ui blue button" href="{{ url_for('rename', todo_id=todo.id) }}">Переименовать</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock content %}
<!--<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>-->